In [28]:
import pandas as pd 
import json

stocks_df = pd.read_csv("Nasdaq-100.csv")
stocks_df.head()

  Symbol                                        Name         Market Cap
0   ATVI      Activision Blizzard, Inc. Common Stock    46,13,79,07,010
1   ADBE                     Adobe Inc. Common Stock  1,41,46,15,47,569
2    AMD   Advanced Micro Devices, Inc. Common Stock    49,86,65,99,329
3   ALXN  Alexion Pharmaceuticals, Inc. Common Stock    19,93,79,17,000
4   ALGN         Align Technology, Inc. Common Stock    12,14,37,37,426

In [23]:
stocks_json = stocks_df.to_json("Nasdaq-100.json", orient = 'split')

In [15]:
with open('Nasdaq-100.json', 'w') as outfile:
    json.dump(stocks_json,outfile)

In [29]:
stocks_df.to_json("Nasdaq-100.json")