In [1]:
import pandas as pd
import json

In [2]:
from finnhub import client as Finnhub

client = Finnhub.Client(api_key="bpvnul7rh5rddd65bos0")

In [10]:
# # # List supported stocks
# client.stock_symbol(exchange="US")

# # # Get quote data
# # data = client.quote(symbol="NFLX")

# # Get candlestick data for stocks
data = client.stock_candle(symbol="SIRI", resolution="D", count=600)
# # client.stock_candle(symbol="NFLX", resolution="W", **{'from':'1601510400', 'to': '1585619984'})

# # # [PREMIUM] Get tick data
# # data = client.stock_tick(symbol="NFLX", resolution="D", **{'from':'1585526400', 'to': '1585569600'})

app_json = json.dumps(data)
# # print(data)
# # pd.DataFrame(data).reset_index()
# # print(pd)

print(json.dumps(data, sort_keys=True, indent=4))
with open(("SIRI" + ".json"), "r+") as outfile: 
    outfile.seek(0)
    outfile.write(app_json)
    outfile.truncate()
    outfile.close()

NameError: name 'client' is not defined

In [4]:
# Read ticker names from csv
data_df = pd.read_csv("Nasdaq-100.csv")

data_df

,Symbol,Name,Market Cap
0,AAL,American Airlines Group Inc. Common Stock,"4,00,06,91,606"
1,AAPL,Apple Inc. Common Stock,"10,56,28,46,26,800"
2,ADBE,Adobe Inc. Common Stock,"1,41,46,15,47,569"
3,ADI,"Analog Devices, Inc. Common Stock","31,87,31,31,077"
4,ADP,"Automatic Data Processing, Inc. Common Stock","55,51,06,44,180"
...,...,...,...
98,WDAY,"Workday, Inc. Class A Common Stock","26,93,05,60,000"
99,WDC,Western Digital Corporation Common Stock,"11,42,21,73,991"
100,WLTW,Willis Towers Watson Public Limited Company Or...,"20,22,07,42,775"
101,XEL,Xcel Energy Inc. Common Stock,"30,35,73,49,729"
102,XLNX,"Xilinx, Inc. Common Stock","19,67,79,95,244"

In [5]:
data_df[["Symbol"]].head()

  Symbol
0    AAL
1   AAPL
2   ADBE
3    ADI
4    ADP

In [6]:
data = data_df.loc[:, ~data_df.columns.str.contains('^Unnamed')]

data

,Symbol,Name,Market Cap
0,AAL,American Airlines Group Inc. Common Stock,"4,00,06,91,606"
1,AAPL,Apple Inc. Common Stock,"10,56,28,46,26,800"
2,ADBE,Adobe Inc. Common Stock,"1,41,46,15,47,569"
3,ADI,"Analog Devices, Inc. Common Stock","31,87,31,31,077"
4,ADP,"Automatic Data Processing, Inc. Common Stock","55,51,06,44,180"
...,...,...,...
98,WDAY,"Workday, Inc. Class A Common Stock","26,93,05,60,000"
99,WDC,Western Digital Corporation Common Stock,"11,42,21,73,991"
100,WLTW,Willis Towers Watson Public Limited Company Or...,"20,22,07,42,775"
101,XEL,Xcel Energy Inc. Common Stock,"30,35,73,49,729"
102,XLNX,"Xilinx, Inc. Common Stock","19,67,79,95,244"

In [7]:
# Convert it into a list
data['Symbol'].values.tolist()
data_list = data['Symbol'].values.tolist()
data_list

['AAL',
 'AAPL',
 'ADBE',
 'ADI',
 'ADP',
 'ADSK',
 'ALGN',
 'ALXN',
 'AMAT',
 'AMD',
 'AMGN',
 'AMZN',
 'ANSS',
 'ASML',
 'ATVI',
 'AVGO',
 'BIDU',
 'BIIB',
 'BKNG',
 'BMRN',
 'CDNS',
 'CDW',
 'CERN',
 'CHKP',
 'CHTR',
 'CMCSA',
 'COST',
 'CPRT',
 'CSCO',
 'CSGP',
 'CSX',
 'CTAS',
 'CTSH',
 'CTXS',
 'DLTR',
 'EA',
 'EBAY',
 'EXC',
 'EXPE',
 'FAST',
 'FB',
 'FISV',
 'FOX',
 'FOXA',
 'GILD',
 'GOOG',
 'GOOGL',
 'IDXX',
 'ILMN',
 'INCY',
 'INTC',
 'INTU',
 'ISRG',
 'JD',
 'KHC',
 'KLAC',
 'LBTYA',
 'LBTYK',
 'LRCX',
 'LULU',
 'MAR',
 'MCHP',
 'MDLZ',
 'MELI',
 'MNST',
 'MSFT',
 'MU',
 'MXIM',
 'NFLX',
 'NTAP',
 'NTES',
 'NVDA',
 'NXPI',
 'ORLY',
 'PAYX',
 'PCAR',
 'PEP',
 'PYPL',
 'QCOM',
 'REGN',
 'ROST',
 'SBUX',
 'SGEN',
 'SIRI',
 'SNPS',
 'SPLK',
 'SWKS',
 'TCOM',
 'TMUS',
 'TSLA',
 'TTWO',
 'TXN',
 'UAL',
 'ULTA',
 'VRSK',
 'VRSN',
 'VRTX',
 'WBA',
 'WDAY',
 'WDC',
 'WLTW',
 'XEL',
 'XLNX']

In [12]:
new_list =['SIRI', 'ZNGA', 'WMT', 'VZ', 'VEEV']
# Use that list to run the for loop

for i in data_list:
    
    #Printing which stock running currently
    print(i) 
    
#     Getting the stock data
    stock_data = client.stock_candle(symbol=i, resolution="D", count=1000)
    
#     Converting to json
    app_json = json.dumps(stock_data)
    
#     Writing it to the file
    with open((i + ".json"), "r+") as outfile: 
        outfile.seek(0)
        outfile.write(app_json)
        outfile.truncate()
        outfile.close()
    
#Getting the ticker name
# tickername = row['ticker']
    
# url = f'https://finnhub.io/api/v1/stock/tick?symbol=AAPL&from=1575968404&to=1575968424&token=bpvnul7rh5rddd65bos0'

AAL
AAPL
ADBE
ADI
ADP
ADSK
ALGN
ALXN
AMAT
AMD
AMGN
AMZN
ANSS
ASML
ATVI
AVGO
BIDU
BIIB
BKNG
BMRN
CDNS
CDW
CERN
CHKP
CHTR
CMCSA
COST
CPRT
CSCO
CSGP
CSX
CTAS
CTSH
CTXS
DLTR
EA
EBAY
EXC
EXPE
FAST
FB
FISV
FOX
FOXA
GILD
GOOG
GOOGL
IDXX
ILMN
INCY
INTC
INTU
ISRG
JD
KHC
KLAC
LBTYA
LBTYK
LRCX
LULU
MAR
MCHP
MDLZ
MELI
MNST
MSFT
MU
MXIM
NFLX
NTAP
NTES
NVDA
NXPI
ORLY
PAYX
PCAR
PEP
PYPL
QCOM
REGN
ROST
SBUX
SGEN
SIRI
SNPS
SPLK
SWKS
TCOM
TMUS
TSLA
TTWO
TXN
UAL
ULTA
VRSK
VRSN
VRTX
WBA
WDAY
WDC
WLTW
XEL
XLNX

In [ ]:
# add the file writing code inside the for loop

In [4]:
df = pd.io.json.json_normalize(data)

NameError: name 'data' is not defined

In [ ]:
df